body{
    /* background-color: aquamarine !important; */
}

.form-input-content{
    margin-top: 1%;
    /* transform: translate( 0%, 50%); */
    justify-content: center;
    
}
.form-input-content img{
    height: 85px;
    float: left;
}
.login-form .mt-5.mb-5.login-input {
    margin-top: 0px !important;
}
.login-input h2.text-center.gray-h2 {
    margin-bottom: 30px;
}

.attherate h4 {
    font-size: 18px;
    text-align: center;
}
.card.login-form{
    padding-top: -20px;
    /* border-radius: 0px 30px !important; */
}
.card.login-form.mb-0 {
    border: none;
}
.gray-h2{
    color: rgb(82, 81, 81);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    margin-top: 15px;
}
.image-section{
    /* background: #dfdcf9 !important; */
    border-radius: 0px 30px;
    /* height: 130px; */
}
.login-input p {
    margin-bottom: 5px;
    text-align: left;
}
.image-section {
    display: none;
}
p.welcomelogin {
    margin-bottom: 30px;
    text-align: center;
}
.login-input .form-control {
    padding: 0px 15px !important;
    border: 1px solid #505F76 !important;
    border-radius: 5px !important;
}
.brand-title img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: -24px;
}

.head-fixed{
    height: 5.5rem;
    background: #fff;
    margin-left: 0rem !important;
    padding: 10px 0 !important;
}
.login-form__btn:hover {
    color: #fff !important;
    background-color: #7571f9 !important;
    border-color: #7571f9 !important;
}
.book-demo{
    margin-bottom: 30px !important;
    height: 50px;
    font-weight: 600;
    
}
.header .logo img {
    max-height: 60px !important;
    margin-right: 6px;
}
.nav-header{
    background: #dfdcf9 !important;
}
.login-form__btn{
    background: #dfdcf9 !important;
}
.header-left .input-group.icons{
    margin-top: 0px !important;
}
.surveycreate.contact {
    display: flex;
}
.contact .btn.login-form__btn.submit {
    margin-right: 15px;
}
.modal-content input[type="file"] {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 17px;
}
.modal-content button.btn.btn-primary {
    margin: 12px;
}
.modal.show .modal-dialog {
    margin-top: 13%;
}
/*-----------Pagination code --------------*/
.page-item:not(:first-child) {
    margin-left: 0.5rem;
}
.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.page-link-btn, span.page-link {
    border: 0;
}

.page-link {
    border: 1px solid #ccc;
    padding: 0 0.5em;
    min-width: 2.2em;
    color: inherit;
    line-height: 2.1em;
    text-align: center;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-link i {
    font-size: 2rem;
}
.icon-angle-right:before {
    content: "î š";
}
[class*=" icon-"]:before, [class^=icon-]:before {
    font-family: "porto";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
nav.toolbox.toolbox-pagination {
    float: right;
}

@media (min-width: 992px) {
    .toolbox-pagination {
        margin-bottom: 0;
    }
}

.toolbox-pagination {
    border-top: 1px solid #efefef;
    padding-top: 2.5rem;
    margin-bottom: 3.5rem;
}
.toolbox, .toolbox-item, .toolbox-left, .toolbox-right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.toolbox {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: space-between;
    -ms-flex-pack: justify;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
}
.toolbox {
    margin-bottom: 2rem !important;
}
.toolbox-pagination {
    border: none !important;
}
.table-responsive td {
    font-size: 14px;
}

.simb img {
    width: 10px !important;
}
.text-center.subs a {
    display: flex;
    justify-content: center;
}
.subs a.subb {
    float: right;
    width: 160px;
	margin-top: 20px;
}
.subs a.suba {
    float: left;
    width: 160px;
	margin-top: 20px;
}
.text-center.subs {
    min-height: 153px;
}

.feedsection {
    display: flex;
}
.feedsection .feedlink {
    width: 300px;
}
.login-form__btn.submit {
    padding: 10px 40px !important;
    margin-top: 10px !important;
}
.fedbt1 {
    margin-top: 0px !important;
}

.modal-content label {
    padding: 15px 5px 5px 15px;
}
.modal-content label input {
    margin-left: 10px;
    padding: 1px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
}

/*----------- new login page ----------------*/
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */
    background: #4154f1;
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    .card-body  section.gradient-form {
        padding: 28px 0;
    }

    div#header {
        background-color: #CECDEF;
    }
    section.h-100.gradient-form {
        padding-bottom: 0px !important;
    }
    img.PhoneInputCountryIconImg {
        height: 16px;
    }
    input.PhoneInputInput {
        border: navajowhite;
    }
    .PhoneInputCountry {
        border-right: 1px solid #505F76 !important;
    }
    h4.mt-1.mb-5.pb-1.signin {
        font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
    }
    .PhoneInputCountrySelectArrow {
        font-size: 30px;
        margin: 0px 10px;
        color: #4540f7;
    }
    span.footadd {
        font-weight: 700;
    }
    button.btn.login-form__btn.submit.w-100.btn.btn-success {
        background: green !important;
    }
    button.btn.btn-success {
        width: 100%;
    }
    .col-lg-12.addbtn {
        padding: 0px;
    }
    .btn-success:active, .btn-success:focus, .btn-success:hover  {
        background: #4540f7 !important;
        color: #fff !important;
        border-color: #4540f7 !important;
    }
    ul#menu {
        background-color: #2E4765;
    }
    span.nav-text {
        color: #fff;
    }
    .nk-sidebar {
        background: #2E4765 !important;
    }
    .nk-sidebar li.nav-label {
        color: #fff !important;
    }
    .services .service-box.blue1:hover {
        background: #4501EB;
    }
    .services .service-box.blue1 {
        border-bottom: 3px solid #4501EB;
    }
    .multitab {
        text-align: justify;
    }
    .btn-success{
        background: #7571f9 !important;
        color: #fff !important;
        border-color: #7571f9 !important;
    }
    .modal-content span {
        text-align: center;
    }
    a.btn.btn-primary.btn-block.fa-lg.gradient-custom-2.mb-3 {
        margin: 12px;
        width: auto;
    }
    .auto-height.mb-5.pb-1.pt-1.text-center {
        height: 390px;
        overflow-y: scroll;
    }